<ion-header>
<ion-toolbar>
    <ion-title>Wallets</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="dismiss()">
            <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content>
    <ion-list class="ion-no-padding" lines="full">
        <ng-container *ngFor="let wallet of (appstate.walletsAndEnvironment$ | async | walletInstalled )?.walletInfo; let i = index;">
            <ion-item-divider *ngIf="(appstate.walletsAndEnvironment$ | async | walletInstalled )?.walletInfo.length && i === 0" color="light">Installed Wallets</ion-item-divider>
            <ion-item (click)="selectWallet(wallet)" button>
                <ion-thumbnail slot="start">
                    <img [src]="getImage(wallet.walletIcon)">
                </ion-thumbnail>
                <ion-label>{{ wallet.walletName }}</ion-label>
                <ion-icon name="checkmark-sharp" slot="end" color="success"></ion-icon>
            </ion-item>
        </ng-container>
        <ng-container *ngFor="let wallet of (appstate.walletsAndEnvironment$ | async | walletNotInstalledDeeplink )?.walletInfo; let i = index;">
            <ion-item-divider *ngIf="(appstate.walletsAndEnvironment$ | async | walletNotInstalledDeeplink )?.walletInfo.length && i === 0" color="light">Not Detected - Deeplink Capable</ion-item-divider>
            <ion-item (click)="selectWallet(wallet)" button>
                <ion-thumbnail slot="start">
                    <img [src]="getImage(wallet.walletIcon)">
                </ion-thumbnail>
                <ion-label>{{ wallet.walletName }}</ion-label>
                <ion-icon name="checkmark-sharp" slot="end" color="warning"></ion-icon>
            </ion-item>
        </ng-container>
        <ng-container *ngFor="let wallet of (appstate.walletsAndEnvironment$ | async | walletNotInstalledNoDeeplink )?.walletInfo; let i = index;">
            <ion-item-divider *ngIf="(appstate.walletsAndEnvironment$ | async | walletNotInstalledNoDeeplink )?.walletInfo.length && i === 0" color="light">Not Detected</ion-item-divider>
            <ion-item>
                <ion-thumbnail slot="start">
                    <img [src]="getImage(wallet.walletIcon)">
                </ion-thumbnail>
                <ion-label>{{ wallet.walletName }}</ion-label>
                <ion-icon name="close-sharp" color="danger"></ion-icon>
            </ion-item>

        </ng-container>


    </ion-list>

</ion-content>
