<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Solana x Capacitor
    </ion-title>
    <ion-button *ngIf="!appstate.small$.value" shape="round" slot="end" (click)="connectWallet()">Connect Wallet</ion-button>
    <ion-button *ngIf="appstate.small$.value" shape="round" slot="end" (click)="connectWallet()">Wallets</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="appstate.fixed$.value">
    <div *ngIf="appstate.selectedWallet$.value === null">
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="auto"><h3>Please select a wallet.</h3></ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  <div *ngIf="appstate.selectedWallet$.value?.walletName === 'FakeWallet'">
    <ion-row>
      <ion-col>
      <h3>FakeWallet</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="getCapabilities()" expand="block">Get Capabilities</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="authorize(appstate.selectedWallet$.value?.walletName)" expand="block">Authorize</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="reauthorize()" [disabled]="!appstate.authToken$.value" expand="block">Re-authorize</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="deauthorize()" [disabled]="!appstate.authToken$.value" expand="block">Deauthorize</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="requestAirdrop()" expand="block" [disabled]="!appstate.authToken$.value">Request Airdrop</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Sign Transactions</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-button (click)="signTransactions(1)" size="small" expand="block" [disabled]="!appstate.authToken$.value">Sign 1</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="signTransactions(3)" size="small" expand="block" [disabled]="!appstate.authToken$.value">Sign 3</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="signTransactions(20)" size="small" expand="block" [disabled]="!appstate.authToken$.value">Sign 20</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="authorizeAndSignTransactions(1)" size="small" expand="block">Authorize & Sign 1 Transaction</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Sign Messages</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="signMessages(1)" size="small" expand="block" [disabled]="!appstate.authToken$.value">Sign 1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="signMessages(3)" size="small" expand="block" [disabled]="!appstate.authToken$.value">Sign 3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="signMessages(20)" size="small" expand="block" [disabled]="!appstate.authToken$.value">Sign 20</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Sign & Send Transactions</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="signAndSendTransactions(1)" size="small" expand="block" [disabled]="!appstate.authToken$.value">Sign 1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="signAndSendTransactions(3)" size="small" expand="block" [disabled]="!appstate.authToken$.value">Sign 3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="signAndSendTransactions(20)" size="small" expand="block" [disabled]="!appstate.authToken$.value">Sign 20</ion-button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="appstate.selectedWallet$.value?.walletName === 'Phantom'">
    <ion-grid>
    <ion-row>
      <ion-col>
      <h3>Phantom</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="medium">
        <ion-grid class="ion-no-padding">
          <ion-row *ngIf="appstate.selectedWallet$.value?.walletInstalled && appstate.selectedWallet$.value?.walletHasDeepLinkCapability && appstate.selectedWallet$.value?.dAppPlatform === 'android'">
            <ion-col>
              <h4>Deeplink wallet functionality to be added here</h4>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="(appstate.selectedWallet$.value?.walletInstalled && appstate.selectedWallet$.value?.dAppPlatform === 'web')">
            <ion-col>
              <ion-button 
              (click)="authorize(appstate.selectedWallet$.value?.walletName)"
              [disabled]="appstate.authorizationObject$.value.authorized"
              >Connect</ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="appstate.selectedWallet$.value?.walletInstalled && appstate.selectedWallet$.value?.dAppPlatform === 'web'">
            <ion-col>
              <ion-button (click)="deauthorize()"
                          [disabled]="!appstate.authorizationObject$.value.authorized"
              >Disconnect</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
  <div *ngIf="appstate.selectedWallet$.value?.walletName === 'Solflare'">
    <ion-grid>
      <ion-row>
        <ion-col>
        <h3>Solflare</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button 
          (click)="authorize(appstate.selectedWallet$.value?.walletName)"
          [disabled]="appstate.authorizationObject$.value.authorized"
          >Connect</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="deauthorize()" [disabled]="!appstate.authorizationObject$.value.authorized">Disconnect</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="appstate.selectedWallet$.value?.walletName === 'Slope'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3>Slope</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text color="medium">
          <h4>Deeplink wallet functionality to be added here</h4>
        </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  </ion-grid>

</ion-content>
